<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/css/site.css" type="text/css" /> 
  <link rel="stylesheet" href="~/css/now-ui-kit.css" type="text/css">
  <link rel="stylesheet" href="~/css/new.css" type="text/css">
</head>


<body >
  <div class="py-5 text-center parallax cover gradient-overlay" style="	background-image: url(&quot;https://gritires.com/storage/about/zLTIv36Ie3yAgctZnbCDaaUvwutJkXGrPPojNgjq.jpg&quot;);	position: relative;	background-position: center center;	background-size: cover;	background-repeat: repeat;">
    <div class="container d-flex flex-column">
      <div class="row my-auto">
        <div class="col-md-12 text-white text-center">
          <img class="mb-5" src="~/images/gri.png" width="300
250
250">
          <h3 class="display-3 text-center">WELCOME!</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="section-overlapping">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto px-0">
          <img src="https://purepng.com/public/uploads/large/purepng.com-excavatorexcavatordiggergrubbergrubbersexcavators-1701527843183owvnj.png" alt="" class="d-none d-md-block img-fluid">
          <img src="assets/img/device_2.png" alt="" class="img-fluid d-block d-md-none"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="lead mt-5 pt-5"> We believe that Farmers who Nourish the world, construction workers who build for the next generation, and forklift operators who move material to supply our needs, are noble. </p>
        </div>
        <div class="col-md-4" >
          <img class="img-fluid d-block" src="~/images/tier.png"> </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark gradient-overlay" style="	background-image: url(&quot;https://images.pexels.com/photos/4878974/pexels-photo-4878974.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260&quot;);	background-size: cover;	background-position: center;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-xl-8 col-md-10 text-dark">
          <h2 class="my-3 text-center"><b>About Us</b></h2>
          <p class="text-white aboutpara" > GRI is a leading producer of Specialty Tires in Sri Lanka with offices in 9 countries and sales in over 50 countries around the world. We produce high-performance Agriculture, Construction and Material Handling Tires.<br><br>We deliver high-grade specialty tires that are built sustainably using pure natural rubber at our advanced production plants in Sri Lanka. Our state-of-the-art factory is the largest in Sri Lanka to produce specialty tires and the first to produce radial agriculture tires. Technological innovation, engineering strength and operational excellence have powered GRI through rapid growth to become a leader in specialty tires.<br><br>Having built a strong reputation in Material Handling industrial solid tires since 2002, GRI embarked to produce a compelling range of Agriculture and Construction tires in Sri Lanka in 2018. We built a new factory, with some of the best tire building machines and started production in April 2018. Customers have found GRI to be an attractive alternative to their current suppliers and ﬁnd an advantage in selling a new product line from a new country of origin.<br><br>GRI ensures its commitment to sustainability and environmental protection by the way we develop new products, generate our power, build our tires, recycle our waste, and manage our water systems. Environmentally sustainable growth is our strategic goal, both now and for generations to come.<br><br>GRI is certified in ISO 9001:2015 - Quality Management, ISO 50001: 2011 – Energy Management and ISO 14001:2004 Environmental Management.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5 bg-dark" >
    <div class="container">
      <div class="row my-5 py-5">
        <div class="col-6 text-center col-md-4">
          <img src="https://images.pexels.com/photos/4878975/pexels-photo-4878975.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" width="300" height="300" class="rounded-circle">
          <div class="col-md-12">
            <h5 class="text-white mt-4">AGRICULTURE TIRES </h5>
          </div>
        </div>
        <div class="col-6 text-center col-md-4">
          <img src="https://images.pexels.com/photos/2058729/pexels-photo-2058729.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" class="rounded-circle" width="300" height="300">
          <div class="col-md-12">
            <h5 class="text-white mt-4">CONSTRUCTION TIRES </h5>
          </div>
        </div>
        <div class="col-6 text-center col-md-4">
          <img src="https://wallpapercave.com/wp/wp7388768.jpg" class="rounded-circle" width="300" height="300">
          <div class="col-md-12">
            <h5 class="text-white mt-4">MATERIAL HANDLING TIRES </h5>
          </div>
        </div>
      </div>
      <div class="row" id="download">
        <div class="col-md-12">
          <div class="row pt-5 mt-5" id="download">
            <div class="col-12 text-center col-md-10 col-xl-8 mx-auto" style="">
              <div class="row my-5 pt-5" id="download">
                <div class="col-12 text-center mx-auto col-md-10 col-xl-8" style="">
                  <h3 class="mb-4 text-light">
                    <b >Wanna Know More?</b></h3>
                  <div class="btn-group m-3">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Our Vision</button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">To Move Humanity Towards Making a Positive Impact on Our Planet.</a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </div>
                  <div class="btn-group m-3">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Our Mission</button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">To Produce Specialty Tires Sustainably, Inspire Courage and Build Lifelong Relationships.</a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </div>
                  <div class="btn-group m-3">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Our Values</button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">PURPOSEFUL<br>RELENTLESS&nbsp;<br>FAR-SIGHTED&nbsp;<br>DISCOVERING&nbsp;<br>PASSIONATE&nbsp;<br>INTEGRITY<br>&nbsp;CARING</a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </div>
                  <div class="btn-group m-3">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> We Are Reliable &amp; Trustworthy</button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Our customers and partners can depend on us. We earn their trust every day&nbsp;<br>by honouring our commitments and keeping our promises<br>&nbsp;– within our organization and across our ecosystem.&nbsp;<br>We are a family business, so we operate from a base of integrity.<br>&nbsp;We know that faith is hard-won, but easily lost. So we work hard to earn client confidence and preserve our reputation<br>&nbsp;– because that is the unshakeable foundation of customer loyalty and marketplace success.</a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </div>
                  <div class="btn-group m-3">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> We Are Environmentally Sustainable</button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">We do the right thing – and do things right. We’re here today<br>&nbsp;– and will be here tomorrow. We pursue success<br>&nbsp;– but also strive for significance. We work to achieve that<br>&nbsp;through the way we develop new products, generate our<br>&nbsp;power, build our tires, recycle our waste, and manage our water systems.&nbsp;<br>We take the long view, looking beyond the obvious horizon.<br>&nbsp;Environmentally sustainable growth is our strategic goal,<br>&nbsp;both now and for generations to come.</a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </div>
                  <div class="btn-group m-3">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> We Are Customer-Centric &amp; Nimble</button>
                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">We place the customer at the centre of everything we do.&nbsp;<br>We put ourselves in their shoes, seeking to understand their&nbsp;<br>point of view, and to anticipate not just what they want, but truly need.<br>&nbsp;We will be agile and adaptable to meet those needs. Beyond&nbsp;<br>attracting our customers, we work hard to retain them by building a<br>lifetime relationship based on mutual respect and trust.&nbsp;<br>Satisfied customers will strengthen our brand, and lead to sustained, profitable growth. </a>
                      <div class="dropdown-divider"></div>
                    </div>
                  </div>
                </div>
              </div>
              <h3 class="mb-4">
                <b>Contact Us</b></h3>
              <p class="lead" > Email :&nbsp;info@gritires.com<br>Tel :&nbsp;+ 94 112598831</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button class="btn btn-icon rounded btn-sm btn-light mx-1 btn-twitter" type="button" data-placement="top" data-toggle="tooltip" title="Follow us">
            <i class="fa fa-fw fa-2x fa-twitter"></i>
          </button>
          <button class="btn btn-icon rounded btn-sm btn-light mx-1 btn-facebook" type="button" data-placement="top" data-toggle="tooltip" title="Like us">
            <i class="fa fa-fw fa-2x fa-facebook-square"></i>
          </button>
          <button class="btn btn-icon rounded btn-sm btn-light mx-1 btn-linkedin" type="button" data-placement="top" data-toggle="tooltip" title="Follow us">
            <i class="fa fa-fw fa-2x fa-linkedin"></i>
          </button>
          <button class="btn btn-icon rounded btn-sm btn-light mx-1" type="button" data-placement="top" data-toggle="tooltip" title="Star on Github">
            <i class="fa fa-fw fa-2x fa-linkedin-square"></i>
          </button>
        </div>
      </div>
      <div class="row mt-5">
        <div> </div>
      </div>
    </div>
  </div>
  
</body>

</html>